<div class="add-order">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="required">Employee</label>
          <div class="ng-autocomplete">
            <ng-autocomplete 
              [data]="optionsEmployee"
              [searchKeyword]="keywordEmployee"
              placeholder="Select employee"
              (selected)='selectEventEmployee($event)'
              [itemTemplate]="itemTemplateEmployee"
              [notFoundTemplate]="notFoundTemplateEmployee">                                 
            </ng-autocomplete>
            
            <ng-template #itemTemplateEmployee let-item>
            <a [innerHTML]="item.firstName + ' ' + item.lastName"></a>
            </ng-template>
            
            <ng-template #notFoundTemplateEmployee let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
        </div>
        <div class="form-group">
          <label class="required">Car number</label>
          <div class="ng-autocomplete">
            <ng-autocomplete 
              [data]="optionsClient"
              [searchKeyword]="keywordClient"
              placeholder="Select car number"
              (selected)='selectEventClient($event)'
              [itemTemplate]="itemTemplateClient"
              [notFoundTemplate]="notFoundTemplateClient">                                 
            </ng-autocomplete>
            
            <ng-template #itemTemplateClient let-item>
            <a [innerHTML]="item.carNumber"></a>
            </ng-template>
            
            <ng-template #notFoundTemplateClient let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
        </div>
        <div class="form-group">
            <label for="price" class="required">Price</label>
            <input type="text" class="form-control" id="price" formControlName="price" placeholder="Price">
        </div>
        <button type="submit" class="btn btn-success">Add</button>
        <button type="submit" class="btn btn-default" [routerLink]="['/orders']">Cancel</button>
    </form>
</div>