<div class="book-details">
    <div class="card" *ngIf="client">
        <div class="card-body card-column">
            <div class="card-column-element">
                <div class="card-elements">
                    <h6>Id:</h6>
                    <h6>{{ client.id }}</h6>
                </div>
                <div class="card-elements">
                    <h6>First name:</h6>
                    <h6>{{ client.firstName }}</h6>
                </div>
                <div class="card-elements">
                    <h6>Last name:</h6>
                    <h6>{{ client.lastName }}</h6>
                </div>
            </div>

            <div class="card-column-element">
                <div class="card-elements">
                    <h6>Car model</h6>
                    <h6>{{ client.carModel }}</h6>
                </div>
                <div class="card-elements">
                    <h6>Car number:</h6>
                    <h6>{{ client.carNumber }}</h6>
                </div>
                <div class="card-elements">
                    <h6>Telegram id:</h6>
                    <h6>{{ client.telegramId }}</h6>
                </div>
            </div>
            
        </div>
        <div class="card-buttons">
            <a [routerLink]="['/clients']" class="card-link">Back</a>
            <a [routerLink]="['/update-client', client.id]" class="card-link">Update</a>
        </div>
    </div>
</div>

<div class="order-title">
    <h1>Client orders</h1>
    <h5>Number of orders: {{ clientOrders?.length }}</h5>
</div>

<table class="table table-stripped" *ngIf="clientOrders">
    <thead>
        <tr>
            <th>Order id</th>
            <th>Order price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of clientOrders">
            <td>{{ order.id }}</td>
            <td>{{ order.price }}</td>
            <th>
                <button class="btn btn-default btn-sm" (click)="showOrder(order.id)">
                    Show
                </button>
            </th>
        </tr>
    </tbody>
</table>
