<h1>Orders</h1>

<table class="table table-stripped" *ngIf="orderDtos">
    <thead>
        <tr>
            <th>Order id</th>
            <th>Client</th>
            <th>Employee</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orderDtos">
            <td>{{order.id}}</td>
            <td>{{order.carNumber}}</td>
            <td>{{order.employeeName}}</td>
            <td>{{order.price}}</td>
            <th>
                <button class="btn btn-default btn-sm" (click)="showOrder(order.id)">
                    Show
                </button>
            </th>
        </tr>
    </tbody>
</table>